
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>App</title>
    <style>
      form {
        display: flex;
      }
      .grid-container {
        border: 1px solid red;
        padding: 5px;
        margin: auto;

        display: grid;
        grid-template-columns: 150px 210px;
        grid-template-rows: 30px 30px 30px 40px;
        column-gap: 10px;
        row-gap: 5px;
      }
      label {
        align-items: center;
      }
    </style>
  </head>
  <body>
    <form action="api/auth/change" method="post">
      <div class="grid-container">
        <label class="grid-element" for="token">Токен</label>
        <input class="grid-element" id="token" type="text" name="token" value="{{ token }}" disabled>
        <label class="grid-element" for="password">Новый пароль</label>
        <input class="grid-element" id="password" type="password" name="password">
        <label class="grid-element" for="passwordOld">Повторить пароль</label>
        <input class="grid-element" id="passwordOld" type="password" name="passwordOld">
        <input class="grid-element" type="submit" value="Отправить">
      </div>
    </form>
  </body>
</html>
