<p>Добрый день {{ name }},</p>
<p>Нажмите ниже, чтобы подтвердить свой адрес электронной почты</p>
<p>
    <a href="{{ link }}" target="_blank">{{ link }}</a>
</p>

<p>Если вы не запрашивали это письмо, вы можете его игнорировать.</p>
