<p>Добрый день {{ name }},</p>
<p>Вы получили это сообщение, так как был произведён запрос на изменение пароля для Вашего аккаунта.</p>
<p>Для смены пароля перейдите по следующей ссылке и введите новый пароль:</p>
<p>
    <a href="{{ link }}" target="_blank">{{ link }}</a>
</p>
<p>Обращаем Ваше внимание, что данная ссылка будет действительна до первого удачного входа или смены пароля.</p>

<p>Внимание! Если Вы не хотите менять пароль, просто проигнорируйте это письмо.</p>
